<?xml version='1.0' encoding='utf-8'?>
<robot name="atlas_humanoid">
  <link name="pelvis" />
  <link name="left_hip_yaw_link" />
  <joint name="left_hip_yaw_joint" type="revolute">
    <parent link="pelvis" />
    <child link="left_hip_yaw_link" />
    <origin xyz="0 0 0.1" rpy="0 0 0" />
    <axis xyz="0 0 1" />
    <limit lower="-3.14" upper="3.14" effort="100" velocity="2" />
  </joint>
  <link name="left_hip_roll_link" />
  <joint name="left_hip_roll_joint" type="revolute">
    <parent link="left_hip_yaw_link" />
    <child link="left_hip_roll_link" />
    <origin xyz="0 0 0.1" rpy="0 0 0" />
    <axis xyz="0 0 1" />
    <limit lower="-3.14" upper="3.14" effort="100" velocity="2" />
  </joint>
  <link name="left_hip_pitch_link" />
  <joint name="left_hip_pitch_joint" type="revolute">
    <parent link="left_hip_roll_link" />
    <child link="left_hip_pitch_link" />
    <origin xyz="0 0 0.1" rpy="0 0 0" />
    <axis xyz="0 0 1" />
    <limit lower="-3.14" upper="3.14" effort="100" velocity="2" />
  </joint>
  <link name="left_knee_link" />
  <joint name="left_knee_joint" type="revolute">
    <parent link="left_hip_pitch_link" />
    <child link="left_knee_link" />
    <origin xyz="0 0 0.1" rpy="0 0 0" />
    <axis xyz="0 0 1" />
    <limit lower="-3.14" upper="3.14" effort="100" velocity="2" />
  </joint>
  <link name="left_ankle_pitch_link" />
  <joint name="left_ankle_pitch_joint" type="revolute">
    <parent link="left_knee_link" />
    <child link="left_ankle_pitch_link" />
    <origin xyz="0 0 0.1" rpy="0 0 0" />
    <axis xyz="0 0 1" />
    <limit lower="-3.14" upper="3.14" effort="100" velocity="2" />
  </joint>
  <link name="left_ankle_roll_link" />
  <joint name="left_ankle_roll_joint" type="revolute">
    <parent link="left_ankle_pitch_link" />
    <child link="left_ankle_roll_link" />
    <origin xyz="0 0 0.1" rpy="0 0 0" />
    <axis xyz="0 0 1" />
    <limit lower="-3.14" upper="3.14" effort="100" velocity="2" />
  </joint>
  <link name="right_hip_yaw_link" />
  <joint name="right_hip_yaw_joint" type="revolute">
    <parent link="pelvis" />
    <child link="right_hip_yaw_link" />
    <origin xyz="0 0 0.1" rpy="0 0 0" />
    <axis xyz="0 0 1" />
    <limit lower="-3.14" upper="3.14" effort="100" velocity="2" />
  </joint>
  <link name="right_hip_roll_link" />
  <joint name="right_hip_roll_joint" type="revolute">
    <parent link="right_hip_yaw_link" />
    <child link="right_hip_roll_link" />
    <origin xyz="0 0 0.1" rpy="0 0 0" />
    <axis xyz="0 0 1" />
    <limit lower="-3.14" upper="3.14" effort="100" velocity="2" />
  </joint>
  <link name="right_hip_pitch_link" />
  <joint name="right_hip_pitch_joint" type="revolute">
    <parent link="right_hip_roll_link" />
    <child link="right_hip_pitch_link" />
    <origin xyz="0 0 0.1" rpy="0 0 0" />
    <axis xyz="0 0 1" />
    <limit lower="-3.14" upper="3.14" effort="100" velocity="2" />
  </joint>
  <link name="right_knee_link" />
  <joint name="right_knee_joint" type="revolute">
    <parent link="right_hip_pitch_link" />
    <child link="right_knee_link" />
    <origin xyz="0 0 0.1" rpy="0 0 0" />
    <axis xyz="0 0 1" />
    <limit lower="-3.14" upper="3.14" effort="100" velocity="2" />
  </joint>
  <link name="right_ankle_pitch_link" />
  <joint name="right_ankle_pitch_joint" type="revolute">
    <parent link="right_knee_link" />
    <child link="right_ankle_pitch_link" />
    <origin xyz="0 0 0.1" rpy="0 0 0" />
    <axis xyz="0 0 1" />
    <limit lower="-3.14" upper="3.14" effort="100" velocity="2" />
  </joint>
  <link name="right_ankle_roll_link" />
  <joint name="right_ankle_roll_joint" type="revolute">
    <parent link="right_ankle_pitch_link" />
    <child link="right_ankle_roll_link" />
    <origin xyz="0 0 0.1" rpy="0 0 0" />
    <axis xyz="0 0 1" />
    <limit lower="-3.14" upper="3.14" effort="100" velocity="2" />
  </joint>
  <link name="torso" />
  <joint name="torso_joint" type="revolute">
    <parent link="pelvis" />
    <child link="torso" />
    <origin xyz="0 0 0.1" rpy="0 0 0" />
    <axis xyz="0 0 1" />
    <limit lower="-3.14" upper="3.14" effort="100" velocity="2" />
  </joint>
  <link name="left_shoulder_pitch_link" />
  <joint name="left_shoulder_pitch_joint" type="revolute">
    <parent link="torso" />
    <child link="left_shoulder_pitch_link" />
    <origin xyz="0 0 0.1" rpy="0 0 0" />
    <axis xyz="0 0 1" />
    <limit lower="-3.14" upper="3.14" effort="100" velocity="2" />
  </joint>
  <link name="left_shoulder_roll_link" />
  <joint name="left_shoulder_roll_joint" type="revolute">
    <parent link="left_shoulder_pitch_link" />
    <child link="left_shoulder_roll_link" />
    <origin xyz="0 0 0.1" rpy="0 0 0" />
    <axis xyz="0 0 1" />
    <limit lower="-3.14" upper="3.14" effort="100" velocity="2" />
  </joint>
  <link name="left_elbow_link" />
  <joint name="left_elbow_joint" type="revolute">
    <parent link="left_shoulder_roll_link" />
    <child link="left_elbow_link" />
    <origin xyz="0 0 0.1" rpy="0 0 0" />
    <axis xyz="0 0 1" />
    <limit lower="-3.14" upper="3.14" effort="100" velocity="2" />
  </joint>
  <link name="left_wrist_link" />
  <joint name="left_wrist_joint" type="revolute">
    <parent link="left_elbow_link" />
    <child link="left_wrist_link" />
    <origin xyz="0 0 0.1" rpy="0 0 0" />
    <axis xyz="0 0 1" />
    <limit lower="-3.14" upper="3.14" effort="100" velocity="2" />
  </joint>
  <link name="right_shoulder_pitch_link" />
  <joint name="right_shoulder_pitch_joint" type="revolute">
    <parent link="torso" />
    <child link="right_shoulder_pitch_link" />
    <origin xyz="0 0 0.1" rpy="0 0 0" />
    <axis xyz="0 0 1" />
    <limit lower="-3.14" upper="3.14" effort="100" velocity="2" />
  </joint>
  <link name="right_shoulder_roll_link" />
  <joint name="right_shoulder_roll_joint" type="revolute">
    <parent link="right_shoulder_pitch_link" />
    <child link="right_shoulder_roll_link" />
    <origin xyz="0 0 0.1" rpy="0 0 0" />
    <axis xyz="0 0 1" />
    <limit lower="-3.14" upper="3.14" effort="100" velocity="2" />
  </joint>
  <link name="right_elbow_link" />
  <joint name="right_elbow_joint" type="revolute">
    <parent link="right_shoulder_roll_link" />
    <child link="right_elbow_link" />
    <origin xyz="0 0 0.1" rpy="0 0 0" />
    <axis xyz="0 0 1" />
    <limit lower="-3.14" upper="3.14" effort="100" velocity="2" />
  </joint>
  <link name="right_wrist_link" />
  <joint name="right_wrist_joint" type="revolute">
    <parent link="right_elbow_link" />
    <child link="right_wrist_link" />
    <origin xyz="0 0 0.1" rpy="0 0 0" />
    <axis xyz="0 0 1" />
    <limit lower="-3.14" upper="3.14" effort="100" velocity="2" />
  </joint>
  <link name="head" />
  <joint name="neck_joint" type="revolute">
    <parent link="torso" />
    <child link="head" />
    <origin xyz="0 0 0.1" rpy="0 0 0" />
    <axis xyz="0 0 1" />
    <limit lower="-3.14" upper="3.14" effort="100" velocity="2" />
  </joint>
</robot>